<strong>I am signing up: </strong><div class="btn-group btn-group-spouses" data-toggle="buttons-radio">{% for spouse in app.user.spouses -%}
    <a data-spouse-id="{{ loop.index0 }}" {% if loop.first %}data-toggle="button"{% endif %}class="spouse btn btn-info" href="{{ path('booth_family') }}.json"><span data-spouse-hour="{{ spouse.id }}" class="badge badge-important">{{ spouse.getNumOfHours() }}</span>{{ spouse.name }}</a>
{%- endfor -%}
</div>
<strong>for hours</strong>
{% set spouse = app.user.spouses.first() %}
<div class="row-fluid boothData">
    <div class="span2 boothSelection">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header boothList">Select Booth</li>
                {% for booth in booths %}
                    <li class="{% if loop.first %}active{% endif %}">
                        <a class="booth" href="{{ path('get_booth', {'id': booth.id}) }}.json"><span class="badge badge-important" data-booth-id="{{ booth.id }}">{{ spouse.getNumOfHoursByBoothId(booth.id) }}</span> {{ booth }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="span10">
        <div class="boothDisplay well">
        {{ include(
        'FairBundle:Default:booth.html.twig',
        { 'booth': booths.0, 'spouse': app.user.spouses.first() }
        ) }}

        </div>
        <div id="loadingBooth" class="hidden"></div>
    </div>
</div>