{% extends 'FairBundle::layout.html.twig' %}

{% block content -%}
        <div class="content-item">
            <div class="help" data-toggle="popover" data-placement="left" data-content="You may only select one baked item to bring.<br>
<strong>To bring an item</strong> click the <span class='label label-success'>green button</span>.  After it has been selected it will turn into an <span class='label label-warning'>orange button</span>.<br>
<strong>To remove am item</strong> click the <span class='label label-warning'>orange button</span>." title="" data-original-title="Baked Goods Help">Help</div>
            <div class="content-title"><i class="icon-fire"></i> 3. Baked Goods</div>
            <div class="bakedItems">
                <p><span class="lead">All sweets must be homemade.</span> Items may be dropped off in the STA Cafe. On Friday, October 4th, from 7:30 a.m.-8:30 a.m. and 5:00 p.m.-6:00 p.m.  Items may be dropped off on Saturday, October 5th from 10:00 a.m.-11:00 a.m.  You will need to sign in at drop off in order to receive your 1 hour credit.  No sweets will be collected on Sunday.  If sweets are not turned in, you will be required to work an extra hour at the fair.  Remember all items must be individually wrapped (cookies, brownies, fudge, etc.).  Please provide 2 dozen of each item.</p>
                <p><strong>I agree to bring the following:</strong><br>
                {% for bakedItem in bakedItems %}
                    {#
                        IF baking this item: have color be success, words say baking
                        IF baking another item, have color be inverse, disable, words say nothing
                        IF item is not available, have color be inverse, disable, words say Unavailable
                        ELSE color success, words say nothing
                    #}
                    <a data-baked-id="{{ bakedItem.id }}"
                       class="btn {% if not bakedItem.isItemAvailable() and not app.user.isBakingItem(bakedItem) -%}
                                        disabled
                                        {%- endif %} {% if app.user.isBakingItem(bakedItem) -%}
                                        btn-warning
                                        {%- elseif bakedItem.isItemAvailable() -%}
                                        btn-success
                                    {%- endif -%}"
                       href="{{ path('baked_bring', {'id': bakedItem.id}) }}.json">
                        {%- if app.user.isBakingItem(bakedItem) -%}
                            You are baking: <span>{{ bakedItem|replace({'-': "<br>"})|raw }}</span>
                        {%- elseif not bakedItem.isItemAvailable() -%}
                            <span>{{ bakedItem|replace({'-': "<br>"})|raw }}</span> is Unavailable
                        {%- else -%}
                            <span>{{ bakedItem|replace({'-': "<br>"})|raw }}</span>
                        {%- endif -%}
                    </a>
                {% endfor %}
                </p>
            </div>
        </div>
        <div class="content-item">
            <div class="help" data-toggle="popover" data-placement="left" data-content="You many select as many craft or auction items as you want.<br>
<strong>To add</strong> a craft item or auction item, click on the <span class='label label-success'>green button</span>. Once added it will appear as a <span class='alert'>yellow box</span>.<br>
<strong>To remove</strong> a craft item or auction item, click on the 'x' on the box." title="" data-original-title="Craft/Auction Help">Help</div>
            <div class="content-title"><i class="icon-gift"></i> 4. Craft/Auction Items</div>
                <a class="btn btn-success auction-add" href="{{ path('auction_add', {'type': 'craft'}) }}.json"><i class="icon-plus icon-white"></i> Add $25 craft item</a> <a class="btn btn-success auction-add" href="{{ path('auction_add', {'type': 'auction'}) }}.json"><i class="icon-plus icon-white"></i> Add $100 auction item</a><br>
                <p></p><strong>I agree to bring the following:</strong><br>
                <div class="auctionItems">
                    {% for saleItem in app.user.saleItems %}
                        <div class="auctionItem alert" data-auction-id="{{ saleItem.id }}">{{ saleItem }}<a class="close" href="{{ path('auction_remove', {'id': saleItem.id}) }}">&times;</a></div>
                    {% endfor %}
                </div>
                </p>
        </div>
        <div class="content-item" id="booths">
            <div class="help" data-toggle="popover" data-placement="left" data-content="In this section you can sign up for a total of 10 hours of booth time.<br>
<ol>
<li>First select which adult you want to sign up for. The red circle signifies the number of hours the person has signed up for.  Then select the appropriate booth.  The red circle next to the booth names tells how many hours the active adult is signed up for.</li>
<li>Once you have signed up, cick on the hours you would like to sign up for.  Only times that are <span class='label label-info'>teal</span> will be selectable.  To remove an hour, click on the <span class='label label-warning'>orange</span> time and it will remove it.</li>
<li>Once you have your appropriate number of hours, the status box on the left will turn green and a <button class='btn btn-success btn-mini'>Print Your Responsibilities</button> button will appear in the top.</li>" title="" data-original-title="Booth Help">Help</div>
            <div class="content-title"><i class="icon-time"></i> 5. Booths</div>
            {{ include(
            'FairBundle:Default:boothList.html.twig',
            { 'booths': booths }
            ) }}
        </div>
        {{ include(
        'FairBundle:Default:userStatus.html.twig'
        ) }}
        <div id="instructions" data-toggle="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Fair Registration Instructions</h3>
            </div>
            <div class="modal-body">
                <p class="lead">Welcome {{ app.user.name }} Family<p>
                <p>After you close this box (button in the bottom right), take note of the signup options and status on the left hand side of the site.  <b>Your selections are saved in real time as you click the buttons.  If you cannot print the PDF of your choices at the end please retry after a few minutes.</b></b><p>
                <ol>
                    <li><div class='content-title instructions'><i class='icon-list'></i> 1. Signup Options</div>will tell you what your options are for successfully completing the registration.  Registration is done real-time, so as soon as you click on something you are claiming that spot and no one else can.  Most of the booth times have between 2 and 4 spots.</li>
                    <li><div class='content-title instructions' '=''><i class='icon-info-sign'></i> 2. Status</div> area will tell you what you have currently signed up for.  As long as it is <span class='label label-important'>red</span> you have not completed your registration.  Once it turns <span class='label label-success'>green</span> you have successfully completed your registration.</li>
                    <li>Upon meeting the requirements a <a href='#' class='btn btn-primary btn-mini'><i class='icon-print icon-white'></i> Print Your Responsibilities</a> button will appear at the top that will allow you to print a copy of your registration.</li>
                    <li>Your registration may be completed and changed at any time, but once you remove a time or item from your registration it becomes available to other families.</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fair/js/register/register.js') }}"></script>
{% endblock %}
