{% extends 'FairBundle::layout.html.twig' %}

{% block content -%}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="well">
            <p class="lead">The following links will allow you to see (and edit, be careful!) the parts of the fair.</p>
        </div>
    {% else %}

        <div class="content-item">
            <div class="content-title">Baked Goods</div>
            <div class="help" data-toggle="popover" data-placement="left" data-content="You may select one baked item.  A <span class='btn-success'>green</span> button means it is selectable.  An <span class='btn-warning'>orange</span> button means you have selected that item.  Unavailable items will be grayed out.  To unselect something you have chosen re-click the <span class='btn-warning'>orange</span>." title="" data-original-title="Baked Goods Help">Help</div>
            <div class="bakedItems">
                <p><strong>I agree to bring the following:</strong><br>
                {% for bakedItem in bakedItems %}
                    {#
                        IF baking this item: have color be success, words say baking
                        IF baking another item, have color be inverse, disable, words say nothing
                        IF item is not available, have color be inverse, disable, words say Unavailable
                        ELSE color success, words say nothing
                    #}
                    <a data-baked-id="{{ bakedItem.id }}"
                       class="btn {% if not bakedItem.isItemAvailable() and not app.user.isBakingItem(bakedItem) -%}
                                        disabled
                                        {%- endif %} {% if app.user.isBakingItem(bakedItem) -%}
                                        btn-warning
                                        {%- elseif bakedItem.isItemAvailable() -%}
                                        btn-success
                                    {%- endif -%}"
                       href="{{ path('baked_bring', {'id': bakedItem.id}) }}.json">
                        {%- if app.user.isBakingItem(bakedItem) -%}
                            You are baking: <span>{{ bakedItem }}</span>
                        {%- elseif not bakedItem.isItemAvailable() -%}
                            <span>{{ bakedItem }}</span> is Unavailable
                        {%- else -%}
                            <span>{{ bakedItem }}</span>
                        {%- endif -%}
                    </a>
                {% endfor %}
                </p>
            </div>
        </div>
        <div class="content-item">
            <div class="content-title">Craft/Auction Items</div>
            <div class="help" data-toggle="popover" data-placement="left" data-content="You may select as many auction/craft items as you want.  To select an item click on the button.  It will appear below in <span class='alert'>yellow</span>.  To remove an auction item click on the x in the <span class='alert'>yellow</span> box." title="" data-original-title="Craft/Auction Help">Help</div>
                <a class="btn btn-success auction-add" href="{{ path('auction_add', {'type': 'craft'}) }}.json"><i class="icon-plus icon-white"></i> Add $25 craft item</a> <a class="btn btn-success auction-add" href="{{ path('auction_add', {'type': 'auction'}) }}.json"><i class="icon-plus icon-white"></i> Add $100 auction item</a><br>
                <p></p><strong>I agree to bring the following:</strong><br>
                <div class="auctionItems">
                    {% for saleItem in app.user.saleItems %}
                        <div class="auctionItem alert" data-auction-id="{{ saleItem.id }}">{{ saleItem }}<a class="close" href="{{ path('auction_remove', {'id': saleItem.id}) }}">&times;</a></div>
                    {% endfor %}
                </div>
                </p>
        </div>
        <div class="content-item" id="booths">
            <div class="content-title">Booths</div>
            <div class="help" data-toggle="popover" data-placement="left" data-content="Select a time to work click on one of the buttons that is <span class='btn-info'>teal</span> and says Signup.  If a time is currently filled up it will say 'Filled'.  If the time says 'Already Working at this Time' you are already signed up at this time.  To be able to sign up for this time, unselect the time you are signed up for.  It will be highlighted in <span class='btn-warning'>orange</span>." title="" data-original-title="Booth Help">Help</div>
            {{ include(
            'FairBundle:Default:boothList.html.twig',
            { 'booths': booths }
            ) }}
        </div>
        {{ include(
        'FairBundle:Default:userStatus.html.twig'
        ) }}
        <div id="instructions" data-toggle="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Fair Registration Instructions</h3>
            </div>
            <div class="modal-body">
                <p class="lead">Welcome {{ app.user.name }} Family<p>
                <p>You will need to sign up to work the fair based on the following options.  Once you have successfully signed up for your hours and items the status box in the left side of the screen will turn <span class="alert-success">green</span>.</p>
                <strong>Signup Options:</strong>
                <ul class="rules">
                    {% for rule in rules %}
                        <li><strong>{{ rule.description }}:</strong> {{ rule }}</li>
                    {% endfor %}
                    <li><em>You can always volunteer to bring extra craft/auction items!</em></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fair/js/register/register.js') }}"></script>
{% endblock %}
