{% extends 'FairBundle::layout.html.twig' %}

{% block content -%}
    <h1>Craft/Auction Item</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ entity }}</td>
            </tr>
            <tr>
                <th>Family</th>
                <td>{{ entity.family.name }} ({% for spouse in entity.family.spouses %}{{ spouse }}{% if not loop.last %}, {% endif %}{% endfor %})</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('auctionitem') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('auctionitem_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('auctionitem_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
