<div class="alert{% if app.user.getIsPassedRules() %} alert-success{% else %} alert-danger{% endif %}">
    {% if app.user.getIsPassedRules() %}
        <strong>You have met all the requirements!</strong>
    {% else %}
        <strong>You need to sign up for more things.</strong>
    {% endif %}
</div>
{% if data.boothTimes|length > 0 %}
    <p>You've signed up to work the following hours:</p>
    <div class="modal-times row-fluid">
        {% for userName, user in data.boothTimes %}
        <div class="span6">
            <strong>{{ userName }} will work</strong>
            <ul>
                {% for boothName, booth in user %}
                    <li>
                        <strong>{{ boothName }} Booth in the {{ attribute(booth, 1).location }} at</strong>
                        <ul>
                            {% for time in booth %}
                                <li>{{ time.time }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>You have not signed up to work any times yet!</p>
{% endif %}
{% if data.bakedItem %}
    <div class="modal-bakedItem">
        You agree to bring {{ data.bakedItem }}.
    </div>
{% endif %}
{% if data.auctionItems|length > 0 %}
    <div class="modal-auctionItem">
        You agree to bring {% for item in data.auctionItems %}one {{ item }}{% if loop.last %}.{% elseif loop.index == (loop.length - 1) %}, and {% else %}, {% endif %}{% endfor %}
    </div>
{% endif %}