{% extends 'FairBundle::layout.html.twig' %}

{% block content -%}
    <h1>Family</h1>

    <table class="record_properties table table-stripped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ entity.enabled }}</td>
            </tr>
            <tr>
                <th>Lastlogin</th>
                <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Locked</th>
                <td>{{ entity.locked }}</td>
            </tr>
            <tr>
                <th>Eldest Child</th>
                <td>{{ entity.eldest }}</td>
            </tr>
            <tr>
                <th>Edlest Child Grade</th>
                <td>{{ entity.eldestGrade }}</td>
            </tr>
            <tr>
                <th>Passed Rule?</th>
                <td>{{ entity.isPassedRules }}</td>
            </tr>
            <tr>
                <th>Time when they can log in</th>
                <td>{{ entity.timeToLogin|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_family') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a class="btn btn-primary" href="{{ path('admin_family_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_family_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
