{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fair/css/main.css') }}"/>
    {#{% stylesheets '@FairBundle/Resources/public/css/*' output='css/compiled/main.css' filter='cssrewrite' %}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fair/js/json2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fair/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fair/js/bootstrap.js') }}"></script>
    <script type="text/javascript">
        function getUserList($query, $process) {
            var url = '{{ path('get_user') }}.json',
                userData;
            $.post(url, {user: $query}, function(data) {
                var length = data.length, i = 0, usernames = [];
                for ( ; i < length; i++) {
                    if (data[i]['roles'].length === 0) {
                        usernames.push(data[i]['username']);
                    }
                }
                $process(usernames);
            });
            return userData;
        }

        jQuery(document).ready(function() {
            $('.search-query').typeahead({source: getUserList}).tooltip({placement: 'bottom'});

            $('.navbar-search').on('submit', function(e) {
                var $this = $(this),
                    username = $('.search-query').val(),
                    url = '{{ path('is_user') }}.json';
                e.preventDefault();
                $.post(url, {user: username}, function(data) {
                    if (data.isUser) {
                        window.location = '{{ path('home') }}?_switch_user=' + username;
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% block header %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container" style="width: auto;">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ path('home') }}">St. John Primary and St. Theresa School Fair Registration</a>
                    <div class="nav-collapse">
                        <ul class="nav pull-right nav-list">
                            {% if is_granted("ROLE_ADMIN") %}
                            <li>
                                {% if not is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <form class="navbar-search">
                                        <input title="View the site via another user.  Type in their username here and press enter to switch to another user." data-action="{{ path('get_user') }}.json" type="text" autocomplete="off" class="search-query" placeholder="User Switch">
                                    </form>
                                {% endif %}
                            </li>
                            <li class="divider-vertical"></li>
                            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin Tools<b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a tabindex="-1" href="{{ path('rule') }}">Rules</a></li>
                                    <li><a tabindex="-1" href="{{ path('booth') }}">Booths</a></li>
                                    <li><a tabindex="-1" href="{{ path('auctionitem') }}">Auction Items</a></li>
                                    <li><a tabindex="-1" href="{{ path('bakeditem') }}">Baked Items</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            <li class="divider-vertical"></li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'Logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                </li>
                                <li class="divider-vertical"></li>
                                <li class="nav-header ">
                                    <span class="text-info">{{ 'User: ' ~ app.user.username -}}</span>
                                </li>
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <li class="divider-vertical"></li>
                                <li>
                                    <a href="{{ path('home', {_switch_user: '_exit'}) }}">Exit impersonation</a>
                                </li>
                                {% endif %}
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}">{{ 'Login'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% endif %}
                        </ul>
                    </div><!-- /.nav-collapse -->
                </div>
            </div><!-- /navbar-inner -->
        </div>
    {% endblock %}

    <div class="container-fluid">
        <div class="row-fluid">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="span3">
                <div class="sidebar" data-spy="affix" data-offset-top="50">
                    {% if is_granted('ROLE_ADMIN') %}
                        <h4>Admin Tools</h4>
                        <ul>
                            <li><a href="{{ path('rule') }}">Rules</a></li>
                            <li><a href="{{ path('booth') }}">Booths</a></li>
                            <li><a href="{{ path('bakeditem') }}">Baked Items</a></li>
                            <li><a href="{{ path('auctionitem') }}">Auction Items</a></li>
                        </ul>
                    {% elseif is_granted('ROLE_USER') %}
                        <h4>Welcome Mr. and Mrs. {{ app.user.familyName }}</h4>

                        <strong>Instructions</strong>
                        <p>Select the booth times, baked items and auction items you commit to working/bringing to the Fair.</p>
                        <div class="family">
                            <strong>Family Information:</strong>
                            <ul class="children unstyle">
                                {% if app.user.children %}
                                    {% for child in app.user.children %}
                                        <li>{{ child.name }} in grade {{ child.grade }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li>No Children???</li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="info">
                            <strong>Rules:</strong>
                            <ul class="rules">
                                {% for rule in rules %}
                                    <li>{{ rule }}</li>
                                {% endfor %}
                            </ul>
                            <div id="isPassed" class="alert{% if (app.user.isPassedRules) %} alert-success{% else %} alert-danger{% endif %}">
                                You have signed up for:
                                <span class="hours">{{ app.user.getNumOfHours() }}</span> hours of work,
                                <span class="baked">{{ app.user.getNumOfBakedItems() }}</span> baked goods,
                                <span class="auction">{{ app.user.getNumOfAuctionItems() }}</span> auction items,
                            </div>
                        </div>
                    {% else %}
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <div class="{% if is_granted('IS_AUTHENTICATED_FULLY') %}span9{% else %}span12{% endif %}">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block footer %}
        <footer class="footer">
            <div class="container">
                <p>Designed by: mE</p>
            </div>
        </footer>
    {% endblock %}
{% endblock %}