    {% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fair/css/main.css') }}"/>
    {#{% stylesheets '@FairBundle/Resources/public/css/*' output='css/compiled/main.css' filter='cssrewrite' %}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fair/js/json2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fair/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fair/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fair/js/main.js') }}"></script>
    {% if is_granted('ROLE_ADMIN') -%}
    <script type="text/javascript" src="{{ asset('bundles/fair/js/admin.js') }}"></script>
        {%- endif -%}
{% endblock %}

{% block body %}
    {% block header %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container" style="width: auto;">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ path('home') }}">SJP & STS Fair Registration</a>
                    <div class="nav-collapse">
                        <ul class="nav pull-right nav-list">
                            {% if is_granted("ROLE_ADMIN") %}
                                <li>
                                    {% if not is_granted('ROLE_PREVIOUS_ADMIN') %}
                                        <form class="navbar-search">
                                            <input title="View the site via another user.  Type in their username here and press enter to switch to another user." data-target="{{ path('home') }}" data-check="{{ path('is_user') }}.json" data-action="{{ path('get_user') }}.json" type="text" autocomplete="off" class="search-query" placeholder="User Switch">
                                        </form>
                                    {% endif %}
                                </li>
                                <li class="divider-vertical"></li>
                                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin Tools<b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                        <li><a tabindex="-1" href="{{ path('rule') }}">Rules</a></li>
                                        <li><a tabindex="-1" href="{{ path('booth') }}">Booths</a></li>
                                        <li><a tabindex="-1" href="{{ path('auctionitem') }}">Craft\Auction Items</a></li>
                                        <li><a tabindex="-1" href="{{ path('bakeditem') }}">Baked Items</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="divider-vertical"></li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {% if is_granted("ROLE_USER") and not is_granted("ROLE_ADMIN") %}
                                    <a href="#modal-status" data-toggle="modal" class="printStatus pull-left btn btn-success{% if not app.user.isPassedRules() %} hidden{% endif %}"><i class="icon-print"></i> Print Your Responsibilities</a>
                                {% endif %}
                                <li class="nav-header nav-text">
                                    <span class="text-info">{{ 'User: ' ~ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'Logout'|trans({}, 'FOSUserBundle') }}
                                        </a></span>
                                </li>
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <li class="divider-vertical"></li>
                                    <li>
                                        <a href="{{ path('home', {_switch_user: '_exit'}) }}">Exit impersonation</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div><!-- /.nav-collapse -->
                </div>
            </div><!-- /navbar-inner -->
        </div>
    {% endblock %}

    <div class="container-fluid">
        <div class="row-fluid">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="span3">
                    <div class="sidebar" data-spy="affix" data-offset-top="50">
                        {% if is_granted('ROLE_ADMIN') %}
                            <h4>Admin Tools</h4>
                            <ul>
                                <li><a href="{{ path('rule') }}">Rules</a></li>
                                <li><a href="{{ path('booth') }}">Booths</a></li>
                                <li><a href="{{ path('bakeditem') }}">Baked Items</a></li>
                                <li><a href="{{ path('auctionitem') }}">Craft\Auction Items</a></li>
                                <li><a href="{{ path('admin_docs') }}">Documents</a></li>
                            </ul>
                        {% elseif is_granted('ROLE_USER') %}
                            <h4>Welcome {{ app.user.name }} Family</h4>
                            {#<strong>Status: </strong><span data-passed="Requirements met" data-notpassed="Requirements not met yet" data-url="{{ path('is_passed') }}.json" class="status {% if (app.user.isPassedRules) %} btn-success{% else %} btn-danger{% endif %}">{% if (app.user.isPassedRules) %}Requirements met{% else %}Requirements not met yet{% endif %}</span>#}
                            <div class="family">
                                <strong>Oldest Child Enrolled:</strong> {{ app.user.eldest }}, {{ app.user.eldestGrade }}
                            </div>
                            <div class="info content-item">
                                <div class="help" data-toggle="popover" data-placement="right" data-content="As you begin to sign up, take note of the various options for signing up.  If you do not meet one of these options you will not meet your obligation.<br><br>Follow the numbers to the next area: <br><strong><i class='icon-info-sign'></i> Status</strong>." title="" data-original-title="Beginning Help">Help</div>
                                <div class="content-title"><i class="icon-list"></i> 1. Signup Options</div>
                                <p>These are the options you have to sign up for.  Once you have met one of these choices, the box below will turn from <span class="alert-danger">red</span> to <span class="alert-success">green.</span></p>
                                <ul class="rules unstyled">
                                    {% for rule in rules %}
                                        <li><strong>{{ rule.description }}:</strong> {{ rule }}</li>
                                    {% endfor %}
                                    <li><em>You can always volunteer to bring extra craft/auction items!</em></li>
                                </ul>
                            </div>
                        <div id="isPassed" class="alert{% if (app.user.isPassedRules) %} alert-success{% else %} alert-danger{% endif %} content-item">
                            <div class="help" data-toggle="popover" data-placement="right" data-content="To change your status you must make your selections to the right by clicking the various buttons.  The signup options above govern your status.  This box will turn <span class='btn-success'>green</span> when you have fulfilled your requirements.<br><br>Follow the numbers to the next area: <br><strong><i class='icon-fire'></i> Baked Goods</strong>." title="" data-original-title="Status Help">Help</div>
                            <div class="content-title""><i class="icon-info-sign"></i> 2. Status</div>
                        <p><i class="icon {% if app.user.isPassedRules %}icon-thumbs-up{% else %} icon-exclamation-sign{% endif %}"></i> You have signed up for:
                            <ul class="no-style">
                            <li><span class="hours">{{ app.user.getNumOfHours() }}</span> <i class="icon-time"></i> hours of work,
                            <li><span class="baked">{{ app.user.hasBakedItem() }}</span> <i class="icon-fire"></i> baked goods,
                            <li><span class="auction">{{ app.user.getNumOfSaleItems() }}</span> <i class="icon-gift"></i> craft\auction items.
                            </ul>
                        <span data-passed="Requirements met" data-notpassed="Requirements not met yet" data-url="{{ path('is_passed') }}.json" class="status label {% if (app.user.isPassedRules) %} label-success{% else %} btn-important{% endif %}">{% if (app.user.isPassedRules) %}Requirements met{% else %}Requirements not met yet{% endif %}</span>
                        </p>
                    </div>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="{% if is_granted('IS_AUTHENTICATED_FULLY') %}span9{% else %}span12{% endif %}">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer id="footer">
        <div class="container">
            <p>by: <a href="mailto:{{ 'craig.d.baker+fair@gmail.com'|url_encode(true) }}">me</a></p>
        </div>
    </footer>
{% endblock %}