{% extends 'FairBundle::layout.html.twig' %}

{% block content -%}
    <h1>Reports: Booths</h1>

    <table class="table table-striped table-hover table-sort">
        <thead>
            <tr>
                <th>Student</th>
                <th>HR</th>
                <th>Parent</th>
                <th>Phone</th>
                <th>Name of Booth</th>
                <th>Day</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for adult in adults %}
                <tr>
                    <td>{{ adult.child }}</td>
                    <td>{{ adult.grade }}</td>
                    <td>{{ adult.parent }}</td>
                    <td>{{ adult.phone }}</td>
                    <td>{{ adult.booth }}</td>
                    <td>{{ adult.time|date("l") }}</td>
                    <td>{{ adult.time|date("ga") }} - {{ adult.time|date_modify("+#{adult.duration} hours")|date("ga") }}</td>
                </tr>
            {% endfor %}
    </table>
{% endblock %}