{% extends "FairBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="span6 offset3 login-box">
                <div class="help" data-toggle="popover" data-placement="bottom"  data-content="If you are having trouble logging into the system, please call the school." title="" data-original-title="Login Help">Help</div>
                {% if error %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ error|trans }}
                    </div>
                {% endif %}
                <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="control-group">
                        <label class="control-label" for="username">{{ 'security.login.username'|trans }}</label>
                        <div class="controls">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">{{ 'security.login.password'|trans }}</label>
                        <div class="controls">
                            <input type="password" id="password" name="_password" required="required" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox" for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
                            </label>
                            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="span6 offset3 well signup">
                <h3>Signup Times</h3>
                <p>A username and password has been sent home with your student to login in and register for the 2013 school fair.</p>
                <p>Families will be able to login on the following days according to their oldest enrolled child.  Registration will begin at 9am each morning.
                    <ul class="text-center">
                    <li>8th Grade - August 15</li>
                    <li>7th Grade - August 16</li>
                    <li>6th Grade - August 19</li>
                    <li>5th Grade - August 20</li>
                    <li>4th Grade - August 21</li>
                    <li>3rd Grade - August 22</li>
                    <li>2nd Grade - August 23</li>
                    <li>1st Grade - August 26</li>
                    <li>K Grade - August 27</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
